@inherits LayoutComponentBase

<PageTitle>Lager App</PageTitle>

<div class="page">
    <main>
        <div class="row text-center">
            <h1>Lagersoftware</h1>
        </div>

        <div class="row">


            <div class="col-6">
                <article class="content px-4">
                    @Body
                </article>
            </div>
            <div class="col text-start">
                <div class="row">
                    <img src="Icon.jpeg" alt="Icon">
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col">
                                    Adresse:
                                </div>
                                <div class="col">
                                    Hans-Vetter-Straße.45
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col">
                                </div>
                                <div class="col">
                                    79650 Schopfheim
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    Ansprechpartner:
                                </div>
                                <div class="col">
                                    Janis Mossbrugger
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    Abteilung:
                                </div>
                                <div class="col">
                                    Abteilungsleiter
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    Telefon:
                                </div>
                                <div class="col">
                                    07622 6719441
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                </div>
                                <div class="col">
                                    79650 Schopfheim
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    Mobil:
                                </div>
                                <div class="col">
                                    015752452930
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    E-Mail:
                                </div>
                                <div class="col">
                                    janis.mossbrugger@virusbeatz.de
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col">
                                    Internet:
                                </div>
                                <div class="col">
                                    www.virusbeatz.de
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </main>
</div>
